@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color */
    --black: #333;
    --white: #eee;
    --lime: #37BC3C;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: var(--black);
}

.icon {
    margin-left: 2rem;
}

.tiny-tx-lime {
    color: var(--lime);
}

.card-display {
    position: relative;
    width: 80rem;
    height: 550px;
    background-color: white;
}